{
  "extends": ["wesbos"],
  "rules": {
    "no-console": "off",
    "no-unused-vars": ["error", {
      "args": "none"
    }],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120,
        "tabWidth": 2
      }
    ]
  }
}
